
<div class="name">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" type="text">
  </mat-form-field>
</div>
<div class = "id">
  <mat-form-field>
    <input matInput placeholder="Id" formControlName="id" type="text">
  </mat-form-field>
</div>
<div class = "age">
  <mat-form-field>
    <input matInput placeholder="Age" formControlName="age" type="text">
  </mat-form-field>
</div>
<div class = "gender">
  <mat-form-field>
    <mat-select placeholder="Gender" formControlName="gender">
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
      <mat-option value="others">Others</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class= "contact">
  <mat-form-field>
    <input matInput placeholder="Mobile Number" formControlName="mobile_number" type="text">
  </mat-form-field>
</div>
<div class="submit">
  <button mat-raised-button color="primary">Submit</button>
 </div>
